<nav>

  <div class="logo">
    <img src="assets/logo.jpg" alt="">
  </div>

  <ul>
    <li class="courses">Courses</li>
    <li>Why Us</li>
    <li>Support</li>
    <li> <div class="btn white"> Get Started </div></li>
  </ul>

</nav>

<main>

  <div class="left">
    <div class="text">
      <h1>Learn Japanese</h1>
      <h3>Visiting the temples in Kyoto, getting a new job, or making a personal connection -- no matter why you want to learn, we have the right course for you.</h3>
    </div>
    <div class="btn blue">
      Get Started
    </div>
  </div>

  <div class="right">
    <div class="main-image">
    </div>
  </div>

</main>

<footer>

  <div class="p1">
    <img src="assets/book.png" alt="">
    <p>Victus universis caro ferina copia qua sustentantur, et herbae</p>
  </div>

  <div class="p2">
    <img src="assets/headset.png" alt="">
    <p>Victus universis caro ferina copia qua sustentantur, et herbae</p>
  </div>

  <div class="p2">
    <img src="assets/loop.png" alt="">
    <p>Victus universis caro ferina copia qua sustentantur, et herbae</p>
  </div>

</footer>
